.dockerignore
.gitignore
.git
.tool-versions
.stylelintrc.json
.eslintrc.json
.prettierrc.json

Dockerfile
**/Dockerfile
**/Dockerfile.dev
**/node_modules
**/dist
**/coverage
**/.svelte-kit
**/.env
**/.env.*
!**/.env.example

packages/web/luzzle-images
packages/web/luzzle
packages/web/static/images/pieces

.pnpm-store
