.dockerignore
.gitignore
.git
.tool-versions
.stylelintrc.json
.eslintrc.json
.prettierrc.json

Dockerfile
node_modules
packages/core/node_modules
packages/web/node_modules
packages/web/luzzle-images
packages/web/luzzle
packages/web/public/images/pieces
packages/web/tools
