.gcloudignore
.git
.gitignore
.env.dev
.next
nexus.tsconfig.json
graphql.config.yml
.prettierrc.json
.stylelintrc.json

node_modules
tools
prisma/migrate
build
data
public/images/covers/

!prisma/data/
!generated/
