.gcloudignore
.git
.gitignore
.tool-versions
.dockerignore
.editorconfig

.stylelintrc.json
.eslintrc.json
.prettierrc
eslint.config.js

apps/core/node_modules
packages/web/node_modules
packages/web/luzzle-images
packages/web/luzzle
packages/web/public/images/pieces

apps/web/node_modules
apps/web/luzzle-images
apps/web/luzzle
apps/web/public/images/pieces