services:
  luzzle:
    build:
      secrets:
        - npmrc
      context: .
    ports:
      - "3000:3000"
    volumes:
      - ../tools/data/luzzle-assets:/app/build/client/pieces/assets
      - ./config.yaml:/app/config.yaml
      - ./data/luzzle.sqlite:/app/data/luzzle.sqlite
      - ./content:/app/content

secrets:
  npmrc:
    file: $HOME/.npmrc
