services:
  luzzle:
    build:
      secrets:
        - npmrc
      context: .
    ports:
      - "3000:3000"
    volumes:
      - ./static/images/pieces:/app/static/images/pieces
      - ./config/config.yaml:/app/config/config.yaml
      - ./data:/app/data

secrets:
  npmrc:
    file: $HOME/.npmrc
