services:
  luzzle:
    build:
      secrets:
        - npmrc
      context: .
    ports:
      - "3000:3000"
    volumes:
      - ./static/images/pieces:/app/static/images/pieces
      - ./.env.local:/app/.env.local
      - ./data:/app/data
    command: bash -c "npm run build && node --env-file=.env.local build"

secrets:
  npmrc:
    file: $HOME/.npmrc
