/* body[data-theme="dark"] */
html {
	--colors-primary: #fabd2f;
	--colors-on-primary: #1d1600;
	--colors-primary-container: #efa906;
	--colors-on-primary-container: #000000;

	--colors-secondary: #fe8019;
	--colors-on-secondary: #251200;
	--colors-secondary-container: #df6501;
	--colors-on-secondary-container: #f6fcfd;

	--colors-tertiary: #94e660;
	--colors-on-tertiary: #001b09;
	--colors-tertiary-container: #4c9f19;
	--colors-on-tertiary-container: #f6fcfd;

	--colors-error: #ff5449;
	--colors-on-error: #370001;
	--colors-error-container: #a30b00;
	--colors-on-error-container: #f6fcfd;

	--colors-surface: #282828;
	--colors-surface-dim: #0a0a0a;
	--colors-surface-bright: #474747;
	--colors-surface-inverse: #adadad;

	--colors-on-surface: #ebdbb2;
	--colors-on-surface-variant: #f6fcfd;
	--colors-on-surface-inverse: #252b2c;

	--colors-surface-container-lowest: #3d3d3d;
	--colors-surface-container-low: #333333;
	--colors-surface-container: #1f1f1f;
	--colors-surface-container-high: #141414;
	--colors-surface-container-highest: #0a0a0a;

	--colors-shadow: hsla(0, 0%, 100%, 0.2);

	--colors-outline: #aaa292;
	--colors-outline-variant: #898373;
}

html[data-theme='forest'] {
	--colors-surface: #c7d8b9;
	--colors-surface-dim: #b0c29e;
	--colors-surface-bright: #d4e5c6;

	--colors-surface-container-lowest: #a3b88d;
	--colors-surface-container-low: #90a57a;
	--colors-surface-container: #7d9267;
	--colors-surface-container-high: #6a7f54;
	--colors-surface-container-highest: #576c41;

	--colors-primary: #600000;
	--colors-on-primary: #ffeeee;
	--colors-primary-container: #734d26;
	--colors-on-primary-container: #ffffff;

	--colors-secondary: #d4b05f;
	--colors-on-secondary: #332200;
	--colors-secondary-container: #b59346;
	--colors-on-secondary-container: #ffffff;

	--colors-tertiary: #603319;
	--colors-on-tertiary: #ffeeee;
	--colors-tertiary-container: #4d2913;
	--colors-on-tertiary-container: #ffffff;

	--colors-error: #ff5449;
	--colors-on-error: #370001;
	--colors-error-container: #a30b00;
	--colors-on-error-container: #f6fcfd;

	--colors-shadow: hsla(0, 0%, 0%, 0.6);

	--colors-on-surface: #143113;
	--colors-on-surface-variant: #ffffff;
	--colors-on-surface-inverse: #ffffff;

	--colors-outline: #aaa292;
	--colors-outline-variant: #898373;
	--colors-surface-inverse: #adadad;
}

html[data-theme='light'] {
	--colors-primary: #00539f;
	--colors-on-primary: #ffffff;
	--colors-primary-container: #d0e4ff;
	--colors-on-primary-container: #002752;

	--colors-secondary: #ffc107;
	--colors-on-secondary: #212529;
	--colors-secondary-container: #fff3cd;
	--colors-on-secondary-container: #795500;

	--colors-tertiary: #28a745;
	--colors-on-tertiary: #ffffff;
	--colors-tertiary-container: #c3e6cb;
	--colors-on-tertiary-container: #043b11;

	--colors-error: #dc3545;
	--colors-on-error: #ffffff;
	--colors-error-container: #f5c6cb;
	--colors-on-error-container: #721c24;

	--colors-surface: #f8f4ee;
	--colors-surface-dim: #f2f2f2;
	--colors-surface-bright: #ffffff;
	--colors-surface-inverse: #343a40;

	--colors-on-surface: #212529;
	--colors-on-surface-variant: #495057;
	--colors-on-surface-inverse: #ced4da;

	--colors-surface-container-lowest: #f5f5f5;
	--colors-surface-container-low: #eeeeee;
	--colors-surface-container: #e9ecef;
	--colors-surface-container-high: #dee2e6;
	--colors-surface-container-highest: #ced4da;

	--colors-shadow: hsla(0, 0%, 0%, 0.6);

	--colors-outline: #adb5bd;
	--colors-outline-variant: #6c757d;
}

@media (prefers-color-scheme: light) {
	html {
		--colors-primary: #007bff;
		--colors-on-primary: #ffffff;
		--colors-primary-container: #d0e4ff;
		--colors-on-primary-container: #002752;

		--colors-secondary: #ffc107;
		--colors-on-secondary: #212529;
		--colors-secondary-container: #fff3cd;
		--colors-on-secondary-container: #795500;

		--colors-tertiary: #28a745;
		--colors-on-tertiary: #ffffff;
		--colors-tertiary-container: #c3e6cb;
		--colors-on-tertiary-container: #043b11;

		--colors-error: #dc3545;
		--colors-on-error: #ffffff;
		--colors-error-container: #f5c6cb;
		--colors-on-error-container: #721c24;

		--colors-surface: #f8f4ee;
		--colors-surface-dim: #f2f2f2;
		--colors-surface-bright: #ffffff;
		--colors-surface-inverse: #343a40;

		--colors-on-surface: #212529;
		--colors-on-surface-variant: #495057;
		--colors-on-surface-inverse: #ced4da;

		--colors-surface-container-lowest: #f5f5f5;
		--colors-surface-container-low: #eeeeee;
		--colors-surface-container: #e9ecef;
		--colors-surface-container-high: #dee2e6;
		--colors-surface-container-highest: #ced4da;

		--colors-shadow: hsla(0, 0%, 0%, 0.6);

		--colors-outline: #adb5bd;
		--colors-outline-variant: #6c757d;
	}
}

html {
	--shadows-raised: 0px 3px 1px -2px rgba(251 241 199 / 20%),
		0px 2px 2px 0px rgba(251 241 199 / 14%), 0px 1px 5px 0px rgba(0 0 0 / 12%);
	--fonts-mono: monaco, monospace;
	--font-sizes-xxs: 0.70rem;
	--font-sizes-xs: 0.825rem;
	--font-sizes-small: 1rem;
	--font-sizes-normal: 1.25rem;
	--font-sizes-medium: 1.5rem;
	--font-sizes-large: 1.825rem;
	--font-sizes-xl: 2rem;
	--font-sizes-xxl: 3rem;
	--font-sizes-mobile-responsive-factor: 4/5;
	--font-sizes-root: 22px;
	--font-weights-light: 300;
	--font-weights-normal: 400;
	--font-weights-medium: 500;
	--font-weights-semibold: 550;
	--fonteights-bold: 650;
	--radii-none: 0;
	--radii-small: 0.25rem;
	--radii-medium: 0.375rem;
	--radii-large: 0.5rem;
	--radii-xl: 0.75rem;
	--radii-x2l: 1rem;
	--radii-x3l: 1.5rem;
	--radii-x4l: 2.5rem;
	--radii-full: 9999px;
	--breakpoints-phone: 640;
	--breakpoints-tablet: 768;
	--breakpoints-laptop: 1024;
	--breakpoints-desktop: 1280;
	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-7: 1.75rem;
	--space-8: 2rem;
	--space-9: 2.25rem;
	--space-10: 2.5rem;
	--space-0-5: 0.125rem;
	--space-1-5: 0.375rem;
	--space-2-5: 0.625rem;
	--space-3-5: 0.875rem;
}

html {
	background-color: var(--colors-surface);
	color: var(--colors-on-surface);
	font-size: calc(var(--font-sizes-root) * var(--font-sizes-mobile-responsive-factor));
}

h1 {
	font-size: calc(var(--font-sizes-xxl) * var(--font-sizes-mobile-responsive-factor));
	font-weight: var(--font-weights-bold);
}

h2 {
	font-size: calc(var(--font-sizes-xl) * var(--font-sizes-mobile-responsive-factor));
	font-weight: var(--font-weights-bold);
}

h3 {
	font-size: calc(var(--font-sizes-large) * var(--font-sizes-mobile-responsive-factor));
	font-weight: var(--font-weights-semibold);
}

@media screen and (min-width: 768px) {
	html {
		font-size: var(--font-sizes-root);
	}

	h1 {
		font-size: var(--font-sizes-xxl);
	}

	h2 {
		font-size: var(--font-sizes-xl);
	}

	h3 {
		font-size: var(--font-sizes-large);
	}
}

a {
	color: var(--colors-primary);
}

a:hover {
	text-decoration: underline;
}
